<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Edit</title>
</head>
<body>
<form th:method="patch" th:action="@{/admin/{group_id}/{student_id}/editStudent(group_id=${group_id}, student_id=${student_id})}" th:object="${student}">
   <label for="fio">Введите имя: </label>
  <input type="text" th:field="*{fio}" id="fio"/>
    <div style="color: darkred" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}"></div>
    <br/>
    <input type="submit" value="Сохранить!"/>
</form>
</body>
</html>