<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">

  <title>Group Info</title>
</head>
<body onload="selectTypeOfPage()">
<header class="site-header">
  <nav>
    <ul>
      <li><button class="dropdown-btn"> <a href="/admin/users">Пользователи</a></button></li>
      <li><div class="dropdown">
        <button class="dropdown-btn">Обучение</button>
        <div class="dropdown-content">
          <a href="/admin/groups" class="dropdown-item">Группы</a>
          <a href="/admin/subjects" class="dropdown-item">Предметы</a>
        </div>
      </div></li>

    </ul>
  </nav>
  <button class="dropdown-btn"><a href="/logout">Выйти</a></button>
</header>
<div>
  <h3 th:text="${subject.getTitle()}"></h3>
  <div class="quant-content"><p th:text="${'Количество лабораторных работ: '+subject.getCountOfLabs()}"></p></div>

  <form>
    <input type="hidden" th:value="${subject.id}" id="subject_id"/>
    <label for="quant">Введите количество ЛР:</label>
    <input type="text" id="quant"/>
    <p class="quant-error"></p>
    <input value="Сохранить" type="button" onclick="saveNewQuant()">
  </form>

  <br/>
  <hr/>
  <br/>
    <form>
      <select value="labas" class="type-selector" onchange="selectTypeOfPage()">
        <option value="groups">Группы</option>
        <option value="labas">Лабораторные работы</option>
      </select>
    </form>
  <div class="content">

  </div>
  </div>
<script src="/js/admin.js"></script>
</body>
</html>