<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" th:href="@{/css/style-auth.css}">

    <title>Сбросить пароль</title>
</head>
<body>

<div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title">Сбросить пароль</span>

            <form th:action="@{/auth/password/reset}" method="post">
                <input  id="uuid" name="uuid" type="hidden" th:value="${uuid}"/>
                <div class="input-field">
                    <input  id="password" name="password" type="text" placeholder="Новый пароль" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input id="password_confirmation" name="password_confirmation" type="text" placeholder="Подвтерждение пароля" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <span class="text">
                    <div style="color: darkred" th:if="${error}" th:text="${'Введенные пароли должны совпадать!'}"></div>
                 </span>
                <div class="input-field button">
                    <input type="submit" value="Сохранить!">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/auth.js"></script>
</body>
</html>