<!DOCTYPE html>
<!-- groupInfo -->
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <title>Choose group</title>
</head>
<body>
<form th:object="${groupANDsubject}" th:method="post" th:action="@{/choosegroup}">
    <select th:field="${groupANDsubject.group}">
        <option th:value="${group.id}" th:each="group : ${groups}" th:text="${group.getName()}"></option>
    </select>
    <select th:field="${groupANDsubject.subject}" >
        <option th:value="${subject.id}" th:each="subject: ${subjects}" th:text="${subject.getTitle()}"></option>
    </select>
    <input type="submit" value="Выбрать!">
</form>


<div class="data" align = "center" style=" margin-left:2%; margin-right:2%;">

<p><table class="dataframe">

  <thead>
    <tr style="text-align: right;">
<th th:text="${groupANDsubject.getGroup().getName()+', '+groupANDsubject.getSubject().getTitle()}" style = "background-color: #FFFFFF;font-family: Century Gothic, sans-serif;font-size: medium;color: #548235;text-align: left;border-bottom: 2px solid #548235;padding: 0px 20px 0px 0px;width: auto"></th>
<th th:each="num : ${#numbers.sequence(1, quantOfLabas)}" th:text="${num}" style = "background-color: #FFFFFF;font-family: Century Gothic, sans-serif;font-size: medium;color: #548235;text-align: left;border-bottom: 2px solid #548235;padding: 0px 20px 0px 0px;width: auto">1</th>
</tr>
</thead>
<tbody>
<tr th:each="student : ${students}">
<th th:text="${student.getFio()}" style = "background-color: #E2EFDA;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto"></th>
<td th:each="zachet : ${zachetService.findByStudentAndSubject(student, groupANDsubject.getSubject())}" th:text="${zachet.getValue()}" style = "background-color: #E2EFDA;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto"></td>
</tr>

</tbody>
</table>
</p>

</div>
</body>
</html>