<!DOCTYPE html>
<!-- groupInfo -->
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <title>Choose group</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a class="a_header" href="/teacher">Заполнение</a></li>
            <li><a class="a_header" href="/choosegroup">Просмотр ведомости</a></li>
        </ul>
    </nav>
    <div th:if="${current_user != null}" class="right-content">
        <nav>
            <ul>
                <li th:text="${current_user.getUsername()}">username</li>
                <li><a class="a_header" href="/logout">Выйти</a></li>
            </ul>
        </nav>
    </div>
    <div th:if="${current_user == null}" class="right-content">
        <a class="a_header" href="/login">Войти</a>
    </div>
</header>
<form th:object="${groupANDsubject}" th:method="post" th:action="@{/choosegroup}">
    <select th:field="${groupANDsubject.group}">
        <option th:value="${group.id}" th:each="group : ${groups}" th:text="${group.getName()}"></option>
    </select>
    <select th:field="${groupANDsubject.subject}" >
        <option th:value="${subject.id}" th:each="subject: ${subjects}" th:text="${subject.getTitle()}"></option>
    </select>
    <input type="submit" value="Выбрать!">
</form>


<div class="data" align = "center" style=" margin-left:2%; margin-right:2%;">

<p><table class="dataframe">

  <thead>
    <tr style="text-align: right;">
<th th:text="${groupANDsubject.getGroup().getName()+', '+groupANDsubject.getSubject().getTitle()}" style = "background-color: #FFFFFF;font-family: Century Gothic, sans-serif;font-size: medium;color: #548235;text-align: left;border-bottom: 2px solid #548235;padding: 0px 20px 0px 0px;width: auto"></th>
<th th:each="num : ${#numbers.sequence(1, quantOfLabas)}" th:text="${num}" style = "background-color: #FFFFFF;font-family: Century Gothic, sans-serif;font-size: medium;color: #548235;text-align: left;border-bottom: 2px solid #548235;padding: 0px 20px 0px 0px;width: auto">1</th>
</tr>
</thead>
<tbody>
<tr th:each="student : ${students}">
<th th:text="${student.getFio()}" style = "background-color: #E2EFDA;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto"></th>
<td th:each="zachet : ${zachetService.findByStudentAndSubject(student, groupANDsubject.getSubject())}" th:text="${zachet.getValue()}" style = "background-color: #E2EFDA;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto"></td>
</tr>

</tbody>
</table>
</p>

</div>
</body>
</html>