<!DOCTYPE html>
<!-- choosePageEmptyInfo -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <title>Group Info</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a class="a_header" href="/teacher">Заполнение</a></li>
            <li><a class="a_header" href="/choosegroup">Просмотр ведомости</a></li>
        </ul>
    </nav>
    <div class="right-content">
        <a class="a_header" href="/logout">Выйти</a>
    </div>
</header>
</body>
</html>