<br/>
<hr/>
<br/>
<form th:method="post" th:action="@{/teacher/group/select}">
    <label for="surnameFilter">Введите фамилию</label>
    <input th:value="${request.getSurnameSearch()}" type="text" id="surnameFilter"/>
    <br/>
    <label for="labaNumFilter">Введите номер ЛР</label>
    <input th:value="${request.getLabaNumFilter()}" type="text" id="labaNumFilter"/>
    <input onclick="selection('teacher-filter')" type="button" th:value="Отфильтровать"/>
</form>
<br/>
<hr/>
<br/>
<form th:object="${zachetModel}" th:action="@{/teacher/group/newZachet}" th:method="post">
    <select id="student_idZachet">
        <option th:value="${student.id}" th:each="student : ${students}" th:text="${student.getFio()}"></option>
    </select>
    <br/>
    <label for="labaNumZachet">Введите номер ЛР: </label>
    <input id="labaNumZachet" type="text"/>
    <br/>
    <label for="valueZachet">Введите оценку (+ / -)</label>
    <input id="valueZachet" type="text"/>
    <br/>
    <input onclick="addNewZachet()" type="button" value="Сохранить!"/>
</form>

<div class="data" align="center" style=" margin-left:2%; margin-right:2%;">

    <p><table class="dataframe">

    <thead>
    <tr style="text-align: right;">
        <th th:text="${groupANDsubject.getGroup().getName()+', '+groupANDsubject.getSubject().getTitle()}" style = "background-color: #FFFFFF;font-family: Century Gothic, sans-serif;font-size: medium;color: #548235;text-align: left;border-bottom: 2px solid #548235;padding: 0px 20px 0px 0px;width: auto"></th>
        <th th:each="num : ${#numbers.sequence(1, groupANDsubject.getSubject().getQuantOfLabs())}" th:text="${num}" style = "background-color: #FFFFFF;font-family: Century Gothic, sans-serif;font-size: medium;color: #548235;text-align: left;border-bottom: 2px solid #548235;padding: 0px 20px 0px 0px;width: auto">1</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <th th:text="${student.getFio()}" style = "background-color: #E2EFDA;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto"></th>
        <td th:each="zachet : ${zachetService.findByStudentAndSubject(student, groupANDsubject.getSubject())}" th:text="${zachet.getValue()}" style = "background-color: #E2EFDA;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto"></td>
    </tr>

    </tbody>
</table>
    </p>

</div>

