<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body onload="updateSubjectSelect()">
<header>
    <nav>
        <ul>
            <li><a class="a_header" href="/teacher">Заполнение</a></li>
            <li><a class="a_header" href="/choosegroup">Просмотр ведомости</a></li>
        </ul>
    </nav>
    <div th:if="${current_user != null}" class="right-content">
        <nav>
            <ul>
                <li th:text="${current_user.getUsername()}">username</li>
                <li><a class="a_header" href="/logout">Выйти</a></li>
            </ul>
        </nav>
    </div>
    <div th:if="${current_user == null}" class="right-content">
        <a class="a_header" href="/login">Войти</a>
    </div>
</header>
<form class="form-select" >
    <select  name=groupSelect" id=groupSelect" class="group-select" onclick="updateSubjectSelect()">
        <option th:each="group :${groups}" th:text="${group.getName()}" th:value="${group.getId()}"></option>
    </select>
    <select name="subjectSelect" id="subjectSelect" class="subject-select">

    </select>
    <input onclick="selection('user')" type="button" value="Выбрать!"/>
</form>
<div id="table" class="data" align = "center" style=" margin-left:2%; margin-right:2%;"></div>
<script src="/js/allForTables.js"></script>
</body>
</html>